html,
body {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: #776e65;
  background-color: #faf8ef;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5rem;
  /* line-height: 1.5; */
  margin: 0;
}

#app {
  max-width: 33rem;
  padding: 1rem;
  margin: 0 auto;
}

.game {
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  background: #bbada0;
  border-radius: 0.5rem;
  cursor: grab;
  user-select: none;
}

.game__result {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: #776e65;
  background: rgba(238, 228, 218, 0.73);
  animation: fade-in 600ms ease 1000ms;
  animation-fill-mode: both;
  z-index: 100;

  .retry-button {
    margin: 20px 0;
  }
}

.game__result--show {
  display: flex;
}
