.header {
  .header__top,
  .header__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .header__info-block {
    margin-right: auto;

    p {
      font-size: 1.1rem;
    }
    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .header__score-block {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
  }
}
