.header {
  .header__top,
  .header__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
  }

  .header__top {
    h1 {
      margin-right: auto;
    }
  }

  .header__score-block {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
  }
}
