.tiles {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

.tile {
  width: calc(25% - 1rem);
  height: calc(25% - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(2rem, 10dvw, 3.3rem);
  font-weight: 700;
  position: absolute;
  z-index: 3;
  border-radius: 0.5rem;
  top: calc(var(--y-pos) * 25%);
  left: calc(var(--x-pos) * 25%);
  transition: 100ms ease-in-out;
  transition-property: top, left;
}

.tile-new {
  animation: appear 0.1s ease 0.1s;
  animation-fill-mode: both;
}

.tile-merged {
  z-index: 10;
  animation: pop 0.1s ease 0.1s;
  animation-fill-mode: both;
}
